@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}
.active{
    border-bottom: 2px solid black;
}
.navbar-brand{
    font-weight: bolder;
    letter-spacing: 3px;
}
.footer{
    color: white;
    padding: 13px;
    background: rgb(40, 40, 40);
}
.footer p>*{
    padding: 10px;
    text-decoration: none;
    color: white;
}
.footer p>*:hover{
    padding: 10px;
    text-decoration: none;
    color: rgb(117, 117, 233);
}
/* Page Not Found */
.pnf{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 65vh;
}
.pnf-title{
    font-weight: bold;
}
.pnf-btn{
    margin-top: 1rem;
    border: 1px solid black;
    text-decoration: none;
    padding: 1rem 2rem;
    transition: all 0.2s ease;
}
.pnf-btn:hover{
    background-color: rgb(126, 184, 235);
    color: white;
    transition: all 0.2s ease;
}